export(scmr_control)
export(fit_scmr)
export(fit_global_scmr)
export(fit_spatial_scmr)
export(predict_scmr)
export(simulate_scmr_data)
export(make_stratified_split)
export(calc_overall_metrics)
export(calc_class_metrics)
export(read_membership_compact)
export(compact_membership_to_long)
S3method(predict,scmr_global)
S3method(print,scmr_global)
S3method(predict,scmr_spatial)
S3method(print,scmr_spatial)
